#body{
    background-color: #e0ffff;
}
/* for the heading of the page*/
#title{
    font-weight: bolder;
    text-decoration: underline;
    color: rgb(180,100,0);
}

h2{
    padding-top: 25px;
    color: green;
}

p{
    font-size: 22px;
    font-style: oblique;
}
/*setting span style*/
p span{
    font-style: italic;
    font-weight: bold;
}
/*first span*/
#sidfirst{
    font-style: oblique;
    font-weight: normal;
    color: red;
}
/*last span*/
#sidlast{
    text-decoration-line: underline;
}

/*setting font size and color of all list items*/
.lists{
    font-size:18px;
    font-style: italic;
    color: rgb(150,0,250);
}

/*Changing bullets*/
/* removing the default padding from the inner ul*/
#bullet-chang ul{
    padding-left: 0;
}
/*changing default style to none and adding custom padding to the inner ul list items*/
#bullet-change > ul > li{
    list-style: none;
    padding-left: 20px;
    padding-top: 10px;
    position: relative;
}
/*Adding custom bullets with wit settings*/
#bullet-change > ul > li::before{
    content: '';
    width: 14px;
    height: 14px;
    position: absolute;
    background-image: url('images/bullet.png');
    background-size: cover;
    background-position: center;
    left: 0;
}
/*adding padding to the top of 2nd list intem of outer ul*/
#bullet-change > #ulitwo{
    padding-top: 25px;
}

/*Change list style type to roman*/
#outer-ol{
    list-style-type: upper-roman;
}

#outer-ol > ol{
    list-style-type: lower-roman;
}
/*Adding custom padding to li of ol*/
#outer-ol > ol > li{
    padding-left: 20px;
    padding-top: 10px;
    position: relative;
}

#oli-two{
    padding-top: 25px;
}

/*Allignment of image*/
#images {
    text-align: center;
}
