/* For CSS properties and values I used https://www.w3schools.com/cssref/ and https://developer.mozilla.org/en-US/docs/Web/CSS */
/* For color combinations I have used https://www.canva.com/colors/color-wheel/ */
/* The hand icon used in the ul was from https://www.clipartkey.com */

body {
    background-color: PaleGoldenRod;
}
#main-style {
    font-family: Arial, Helvetica, sans-serif;
    color: #AAB0EE;
}

.headings {
    font-weight: bold;
    text-decoration: underline;
    text-decoration-color: #AAB0EE;
    padding: 10px 10px 10px 10px ;
}

.sub-headings {
    font-style: italic;
    padding: 10px 10px 10px 10px ;

}

p {
    font-size: 18px;
    padding-left: 10px;
}

.red {
    color: red;
    font-style: normal;
}
section > div > div > p > span {
    font-style: italic;
}

section > div > div >  p > span > span {
    text-decoration: underline;
    text-decoration-color: #AAB0EE;
}
span {
    /*font-style: oblique;*/
    font-weight: bold;
}
#ingredients {
    font-size: 20px;
    width: 500px;
    background-color: Lightyellow;
    padding-bottom: 10px;
    color: #EEC6AA
}

#method {
    font-size: 20px;
    width: 1100px;
    background-color: Lightyellow;
    padding-bottom: 10px;
    color: #EEC6AA
}
 .icon-bullets {

    list-style-image: url("../images/hand1.png");
}

.roman-bullets  {
    list-style-type: lower-roman;
}

.standout {
    font-size: 20px;
    background-color: Lightyellow;
    padding-bottom: 10px;
    color: #EEC6AA
}

.nav a {
    color: #AAB0EE;
    padding-left: 10px;
    padding-right: 10px;
}
.nav a:hover {
    color: darkred;
    padding-left: 10px;
    padding-right: 10px;
}

.img {
    width: 302px;
    height: auto;
    padding: 10px 10px 10px 10px;
}

#alternative {
    color: #AAB0EE;
}

#address {
    color: #AAB0EE;
    font-style: italic;
    padding: 10px 10px 10px 10px;
}
