/* For CSS properties and values I used https://www.w3schools.com/cssref/ and https://developer.mozilla.org/en-US/docs/Web/CSS */
/* For color combinations I have used https://www.canva.com/colors/color-wheel/ */
/* The hand icon used in the ul was from https://www.clipartkey.com */

/* Overall page settings */
body {
    background-color: white;
    font-family: 'Hammersmith One', sans-serif;
    color: #8182A3;
    margin-left: 65px;
    margin-right: 65px;
}
/* --------------------------------------- Navigation styling -----------------------------------------------*/

/* Setting the color and size for the background to the top navigation bar and where the text sits in the bar */
#header {
    background-color: #82A381;
    height: 40px;
    width: auto;
}
/* add some padding to get the text aligned inside its box*/
#top-nav {
    padding-top: 10px;
}
#lower-nav {
    background-color: #82A381;
    height: 40px;
    width: auto;
    padding-top: 10px;
}
/* changing the color of the pipes to match the link color */
.divider {
    color: white;
}
/* This part of the navigation sets the link color and the hover over functionality*/
.nav a {
    color: white;
    text-decoration: none;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}
.nav a:hover {
    text-decoration: underline;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}
/* --------------------------------------- End of Navigation styling -----------------------------------------------*/

/* --------------------------------------- Main Page Content Styling -----------------------------------------------*/
/* Setting a different color to highlight the  */

.heading {
    padding-left: 10px;
}
.article {
    background-color: Gainsboro;
}
.sub-headings {
    font-style: italic;
    padding: 10px 10px 10px 10px ;
}
/* adding red text to one span element and removing the italics */
#highlight-red {
    color: red;
    font-style: normal;
}
/* Underlining the last span element */
#highlight-underline {
    text-decoration: underline;
}
p {
    font-size: 18px;
    padding-left: 10px;
}
/* setting italics for every object inside a span tag in a p tag */
p span{
    font-style: italic;
    font-weight: bold;
}
em {
    font-weight: bold;
}
/* setting the icon for bullet style for the unordered list */
 .icon-bullets {

    list-style-image: url("../images/hand1.png");
}
/* changing the bullet style to roman numerals for the ordered list */
.roman-bullets  {
    list-style-type: lower-roman;
}
/* sizing the images to be the same */
.img {
    width: 302px;
    height: auto;
    padding: 10px 10px 10px 10px;
}
/* --------------------------------------- Main Page Content Styling -----------------------------------------------*/

/* -------------------------------------- Footer Content Styling (outside of navigation) ---------------------------*/

#footer {
    background-color: #82A381;
    height: 40px;
    width: auto;
    padding-top: 10px;
}
h4 {
    margin-top: 15px;
    margin-bottom: 5px;
    padding-left:10px;
}
address {
    color: #8182A3;
    font-size: 12px;
    padding-top: 10px;
    padding-left: 10px;
}

/* -------------------------------------- End of Footer Content Styling --------------------------------------------*/
